/* INITIALIZING TAILWIND CSS PROCESSORS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* INITIALIZING CUSTOM FONT FACE */
@font-face {
  font-family: "Satoshi Black";
  src: url("../public/fonts/WOFF/Satoshi-Black.woff"),
    url("../public/fonts/WOFF2/Satoshi-Black.woff2"),
    url("../public/fonts/OTF/Satoshi-Black.otf");
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("../public/fonts/WOFF/Satoshi-Bold.woff"),
    url("../public/fonts/WOFF2/Satoshi-Bold.woff2"),
    url("../public/fonts/OTF/Satoshi-Bold.otf");
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("../public/fonts/WOFF/Satoshi-Medium.woff"),
    url("../public/fonts/WOFF2/Satoshi-Medium.woff2"),
    url("../public/fonts/OTF/Satoshi-Medium.otf");
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("../public/fonts/WOFF/Satoshi-Regular.woff"),
    url("../public/fonts/WOFF2/Satoshi-Regular.woff2"),
    url("../public/fonts/OTF/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Satoshi Light";
  src: url("../public/fonts/WOFF/Satoshi-Light.woff"),
    url("../public/fonts/WOFF2/Satoshi-Light.woff2"),
    url("../public/fonts/OTF/Satoshi-Light.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #060918;
}
